data/Annotation/
data/Images/
embedding_output/
ai-service/trained_models/
ai-service/breed/trained_models/
deprecated/trained_models/
CLAUDE.md
.claude/
ai-service/breed/trained_models/*
!ai-service/breed/trained_models/
!ai-service/breed/trained_models/*.h5
data/dog-disease/
ai-service/dog-detection/not_dog
ai-service/dog-detection/yes_dog
__pycache__
.env
.env
ai-service/gen-img/output/
**/__pycache__/
*/__pycache__/
***/__pycache__/
